[Unit]
Description=Run WireGuard Connection Logger periodically
Requires=wg-connection-logger.service

[Timer]
Unit=wg-connection-logger.service
OnBootSec=1min
# Run every minute at 00 seconds
OnCalendar=*:0/1
AccuracySec=1s # Keep this
Persistent=true # Keep this

[Install]
WantedBy=timers.target
